* {
  padding: 0px;
  margin: 0px; }

* {
  padding: 0px;
  margin: 0px; }

body {
  background-color: gray;
  height: 1500px; }

header {
  height: 70px;
  background-color: #363636; }

div {
  display: block;
  unicode-bidi: isolate; }

.infotext {
  align-items: center; }

.interior_text {
  align-items: center;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #909090;
  border-radius: 15px;
  margin-top: 30px; }

#myCarousel {
  height: 720px; }

.carousel-item {
  height: 720px; }
