.containertext{
    font-size: 30px; 
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto; 
    padding: 20px; 
    text-align: center; 
    margin-top: 70px;
    @media (max-width: 768px){
        font-size: 23px;
        
    }
    @media (max-width: 468px){
        font-size: 18px;
        
    }
}   

.main-cursos{
    display: flex;
    margin-top: 0;
      @media (max-width: 992px){
          margin-top: 40px;
          
      }
      @media (max-width: 768px){
        margin-top: 65px;
      }
}
.contlogo{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 20px;



    
    .logo{
        width: auto; 
        height: 40px;
    }







}

.containervid{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 80%;
    margin: auto; 
    padding: 20px; 
    margin-top: 70px;
    iframe{
        width: 100%;
        height: 648px;
    }
    @media (max-width: 992px){
        iframe{
            width: 100%;
            height: 429px;
        }
        
    }
    @media (max-width: 768px){
        iframe{
            width: 100%;
            height: 328px;
        }
        
    }
    @media (max-width: 468px){
        iframe{
            width: 100%;
            height: 170px;
        }
        
    }
 




}