*{
    padding: 0px;
    margin: 0px;



}
$primary-color: #05aef7;
$secondary-color: #2ecc71;
$img-max-width: 100%;
$img-height: auto;
body{
    background-color: rgb(4, 0, 0);
}
header{
    height: 70px;
    background-color: rgb(54, 54, 54);
}
footer{
    margin-top: 60px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.infotext{
    align-items: center;
    
}


section{
    justify-content: center;
    align-items: center;
    display: flex;

    .interior_text{
        align-items: center;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        border-radius: 15px;
        margin-top: 30px;
        border-radius: 15px;
        margin-top: 33px;
        width: 800px;
        margin: 70px;
        justify-content: center;
        margin-bottom: 0;






    }
}
.cont-img-prin{
    height: 450px;
    width: auto;
    align-items: center;
    justify-content: center;


 
}
#imagenprin {
    height: 666px;
    width: 100%;
    position: relative;
    text-align: center;
    background-image: url('../assets/imagenes/faro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;



  
    #textobanner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 36px;
      color: #fff;
    }
    



    
    #parrafo {
      position: absolute;
      top: 55%;
      left: 50px;
      font-size: 18px;
      color: #fff;



    }
  
    #boton {
      position: absolute;
      top: 60%;
      left: 50px;
      background-color: $primary-color;
      width: 220px;
      padding: 20px;
      color: #fff;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      border: none;
      border-radius: 10px;
      cursor: pointer;



    }
}


img{
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: block;


}

.intro-text{
    font-size: 22px;
    margin-left: 20px;


}

h2{
    text-align: center;




}

#textobanner{
    text-align: left;
    margin-left: 100px;
    color: white;


    
}

.contdiv{
    padding-right: 0;
    padding: 0;
    margin: 0;
    margin-right: 0;
    display: block;
    margin-left: 0;
    padding-left: 0;



}


.imgintro{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.btncurso {
    background-color: #05aef7;
    width: 220px;
    padding: 20px; 
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold; 
    border: none;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s; 
    text-decoration: none !important;
    a.btncurso {
        text-decoration: none !important; 






    }
}

.btncurso:hover {
    background-color: #007bb5; 
    cursor: pointer; 
}

.contbtn {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    align-items: center;
    
}

.fondo{
    background-image: url('../assets/imagenes/fondo.png');
    width: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    position: absolute;
    width: 100%; 
    background-attachment: fixed;


    

}

.espacio-main{
    height: 100px;
    width: 100%;
    background-color: rgb(54, 54, 54);




}