*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: gray;
    height: 1500px;
}
header{
    height: 70px;
    background-color: rgb(54, 54, 54);
}
div {
    display: block;
    unicode-bidi: isolate;
}

.infotext{
    align-items: center;
    
}

.interior_text{
    align-items: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(144, 144, 144);
    border-radius: 15px;
    margin-top: 30px;
}


#myCarousel{
    height: 720px;
}
.carousel-item{
    height: 720px;
}