*{
    padding: 0px;
    margin: 0px;
}

$img-max-width: 100%;
$img-height: auto;
body{
    background-color: rgb(4, 0, 0);
    height: 1500px;
}
header{
    height: 70px;
    background-color: rgb(54, 54, 54);
}
div {
    display: block;
    unicode-bidi: isolate;
}

.infotext{
    align-items: center;
    
}

.interior_text{
    align-items: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(144, 144, 144);
    border-radius: 15px;
    margin-top: 30px;
    border-radius: 15px;
    margin-top: 33px;
    width: 800px;
    margin: 70px;
    justify-content: center;
}
section{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: adjust-hue($color: #000000, $degrees: 0);
}
.cont-img-prin{
    height: 450px;
    width: auto;
    align-items: center;
    justify-content: center;
}
#imagenprin{
    height: auto;
    width: 100%;
    position: relative;
    text-align: center;  
}
img{
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: block;
}

.intro-text{
    font-size: 22px;
    margin-left: 20px;
}

h2{
    text-align: center;

}

#textobanner{
    text-align: left;
    margin-left: 170px;
    color: white;
    
}

.contdiv{
    padding-right: 0;
    padding: 0;
    margin: 0;
    margin-right: 0;
    display: block;
    margin-left: 0;
    padding-left: 0;
}


.imgintro{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    height: auto;
}

.btncurso {
    background-color: #05aef7;
    width: 220px;
    padding: 20px; 
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    border: none;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s; 
}

.btncurso:hover {
    background-color: #007bb5; 
    cursor: pointer; 
}

.contbtn {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    align-items: center;
    
}