*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: gray;
    height: 1500px;
}
header{
    height: 70px;
    background-color: rgb(54, 54, 54);
}
div {
    display: block;
    unicode-bidi: isolate;
}

.infotext{
    align-items: center;
    
}



#myCarousel{
    height: 720px;
}
.carousel-item{
    height: 720px;
}