* {
    padding: 0;
    margin: 0;
}

$primary-color: #05aef7;
$secondary-color: #2ecc71;
$img-max-width: 100%;
$img-height: auto;


.fondo {
    background-image: url('../assets/imagenes/fondo.png');
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    background-attachment: fixed;
}

body {
    background-color: rgb(4, 0, 0);
    header{
        height: 70px;
        background-color: rgb(54, 54, 54);
    }
    
    footer{
        margin-top: 60px;
    }
    
    div{
        display: block;
        unicode-bidi: isolate;
    }
    
    .infotext{
        align-items: center;
    }
    
    section{
        justify-content: center;
        align-items: center;
        display: flex;
    
        .interior_text{
            align-items: center;
            font-size: medium;
            font-family: Arial, Helvetica, sans-serif;
            background-color: white;
            border-radius: 15px;
            margin: 70px;
            width: 800px;
    
            @media (max-width: 768px){
                width: 90%; 
                margin: 20px; 
            }
        }
    }
    
    .cont-img-prin{
        height: 450px;
        width: auto;
        align-items: center;
        justify-content: center;
    }
    
    #imagenprin{
        height: 666px;
        width: 100%;
        position: relative;
        text-align: center;
        background-image: url('../assets/imagenes/faro.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        #textobanner{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 36px;
            color: #fff;
    
            @media (max-width: 768px){
                font-size: 24px; 
            }
        }
    
        #parrafo{
            position: absolute;
            top: 55%;
            left: 50px;
            font-size: 18px;
            color: #fff;
    
            @media (max-width: 768px){
                left: 20px; 
                font-size: 16px; 
            }
        }
    
        #boton{
            position: absolute;
            top: 60%;
            left: 50px;
            background-color: $primary-color;
            width: 220px;
            padding: 20px;
            color: #fff;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            border: none;
            border-radius: 10px;
            cursor: pointer;
    
            @media (max-width: 768px){
                width: 180px; 
                font-size: 20px; 
                left: 20px; 
            }
        }
    }
    
    img{
        max-width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        display: block;
    }
    
    .intro-text{
        font-size: 22px;
        margin-left: 20px;
    
        @media (max-width: 768px){
            font-size: 18px; 
            margin-left: 10px;
        }
    }
    
    h2 {
        text-align: center;
    
        @media (max-width: 768px){
            font-size: 24px; 
        }
    }
    
    #textobanner {
        text-align: left;
        margin-left: 100px;
        color: white;
    
        @media (max-width: 768px){
            margin-left: 20px;
        }
    }
    
    .contdiv {
        padding: 0;
        margin: 0;
        display: block;
    }
    
    .imgintro{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-radius: 15px;
        width: 100%;
        height: auto;
    }
    
    .btncurso{
        background-color: #05aef7;
        width: 220px;
        padding: 20px;
        color: white;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        display: flex;
        justify-content: center;
     align-items: center;
        transition: background-color 0.3s;
        text-decoration: none !important;
    
        a.btncurso{
            text-decoration: none !important;
            a{
                text-decoration: none !important;
            }
        }
    }
    
    .btncurso:hover{
        background-color: #007bb5;
        cursor: pointer;
        text-decoration: none;
    }
    
    .contbtn{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        align-items: center;
        text-decoration: none;
    }
    
    
    .espacio-main{
        height: 100px;
        width: 100%;
        background-color: rgb(54, 54, 54);
    }
    
    .main-index{
        margin-top: 0;
        @media (max-width: 992px){
            margin-top: 70px;
            
        }
    }

    
    @media (max-width: 768px){
        header{
            height: 60px; 
            position: relative !important; 
        }
    
        footer{
            margin-top: 40px;
        }
    
        .cont-img-prin{
            height: 300px; 
        }
    
        .espacio-main{
            height: 80px; 
        }
        .main-index{
            margin-top: 80px;
        }
    }
    
    @media (max-width: 468px){
        .main-index{
            text-align: center; 
        }
    
        .btncurso{
            width: 100%; 
            font-size: 18px; 
            padding: 15px; 
        }
    
        .intro-text{
            font-size: 14px; 
        }
    
        h1{
            font-size: 20px;
        }
    
        h2{
            font-size: 18px;
        }
    
        .contlogo{
            flex-direction: column;
            align-items: center; 
        }
    
        .nav-link{
            font-size: 12px; 
        }
    
        .espacio-main{
            font-size: 40px; 
        }
    }









}


